.main{
    &__boxes{
        display:flex;
        flex-wrap: wrap;
    }
    &__box{
        height:auto;
        width:300px;
        margin: 10px;
    }
    &__avl_trainings{
      display:flex;
      flex-wrap: wrap;
      padding:1rem;
    }
    &__date_selection{
        display:flex;
        flex-direction: column;
        background-color: rgb(253, 253, 253);
        border-radius: 1rem;
        padding:1rem;
        height:fit-content;
        
        &__button{
        margin-bottom: 1rem;
        align-items: flex-end;
        width: 20%;
        padding: 5px 0;
        background-color: rgba(0, 0, 0, 0.74);
        text-align: center;
        border-radius: 5px;
        text-decoration: none;
        color: white;   
            &:hover{
                transition: 0.3s;
                background-color: rgb(4, 4, 133);
            }
        }
        &__close{
            width:100%;
            display:flex;
            justify-content: flex-end;
        }
    }
}