.main{
    &__stats{
        display:flex;
        flex-wrap: wrap;
        &__box{
            height:75px;
            width:300px;
            padding:1rem;
            background-color:white;
            box-shadow: 5px 5px gray;
            border-radius: 5px;
            margin-right: 25px;
        }
    }
    &__trainings{
        margin-top: 2rem;
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
          }
          
          td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
          }
          
          tr:nth-child(even) {
            background-color: #dddddd;
          }
    }
    &__req{
        margin-top: 2rem;
        margin-left: 1rem;
    }
}